body {
    background-color: #ebebeb;
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}
.navbar-brand i {
    font-size: 1.4rem;
}

.container {
    padding-top: 100px;
    padding-bottom: 40px;
}